@import 'variables';
@import 'navbar';
@import 'global';
@import 'dashboard';
@import 'modal';

.container{
    max-width: 1200px;
    width: 100vw;
    height: 100vh;
    margin-top: 55px ;
    padding: 0.5em;
}