.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  z-index: 1;
  background-color: white;
  display: flex;
  }
.navbar .imgLogo{
  width: 4%;
  height: 50px;
  padding: 0.5rem 0.8rem;
}
.navbar .imgLogo i{
  font-size: 26px;
  color: red;
  }
.navbar .inputSearch{
  width: 56%;
  height: 50px;
  padding: 0.5rem 0;
  }
.navbar .inputSearch input{
  width: 80%;
  height: auto;
  border: 0;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  padding: 10px 50px;
  font-weight: bolder;
  font-size: 100%;
  }
.navbar .inputSearch i{
  position: absolute;
  top: 20px;
  left: 8%;
  color: gray;
  font-weight: bold;
}
.navbar .inputSearch input:focus{
  border: 3px solid rgb(67, 172, 185);
}
.navbar .buttons{
  width: 40%;
  height: 50px;
  padding: 0.5rem 0.8rem;
}
.navbar .buttons a{
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  color: gray;
  font-weight: bold;
}
.navbar .buttons a i{
  font-size: 24px;
  margin:auto;
}
.navbar .buttons a:hover{
  background: rgb(230, 230, 230);
  border-radius: 50px;
}
