@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #EFEFEF;
  z-index: 10;
  display: flex;
  background: white;
}
.navbar .imgLogo {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .imgLogo i {
  font-size: 25px;
  color: #E60023;
}
.navbar .inputSearch {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .inputSearch .input {
  width: 100%;
  height: 35px;
  background: #EFEFEF;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .inputSearch .input i {
  font-size: 25px;
  color: #8E8E8E;
  font-weight: 700;
  padding: 0 0.5em;
}
.navbar .inputSearch .input input {
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  font-weight: 600;
  color: #8E8E8E;
}
.navbar .inputSearch .input input:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar .buttons {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .buttons a {
  color: #8E8E8E;
  text-decoration: none;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .buttons a:hover {
  border-radius: 25px;
  background: #EFEFEF;
}
.navbar .buttons a i {
  font-size: 25px;
}
.navbar .buttons a div {
  width: 24px;
  height: 24px;
  background: #8E8E8E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .buttons a div p {
  color: white;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.masonry {
  margin: 1em auto;
  max-width: 100%;
  column-gap: 0.2em;
}
.masonry .item {
  position: relative;
  background: #fff;
  padding: 0.3em;
  border-radius: 10px;
}
.masonry .item:hover {
  cursor: zoom-in;
  opacity: 0.8;
}
.masonry .item:hover .hidden-buttons {
  visibility: visible;
}
.masonry .item img {
  width: 100%;
  border-radius: 10px;
}
.masonry .item .hidden-buttons {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.masonry .item .hidden-buttons button {
  background: #E60023;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
  margin: 1em;
  opacity: 1;
}
.masonry .item .hidden-buttons button:hover {
  cursor: pointer;
  background: #ad0c0c;
}
.masonry .item .hidden-buttons .spacer {
  flex: 1;
}
.masonry .item .hidden-buttons .iconos {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}
.masonry .item .hidden-buttons .iconos div {
  background: #FAF8F7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.masonry .item .hidden-buttons .iconos div img {
  width: 15px;
  opacity: 1;
}
.masonry .item .hidden-buttons .iconos div:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 5;
  }
}
/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 4;
  }
}
/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
.container-modal {
  width: 100%;
  height: auto;
  background: white;
}
.container-modal .back {
  position: fixed;
  top: 80px;
  left: 1.5em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-modal .back:hover {
  background: #EFEFEF;
  cursor: pointer;
}
.container-modal .back img {
  width: 20px;
}
.container-modal .flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-modal .flex .modal {
  width: auto;
  height: auto;
  background: white;
  margin-top: 1em;
  display: flex;
  border-radius: 20px;
  -webkit-box-shadow: 2px 0px 23px -7px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 2px 0px 23px -7px rgba(0, 0, 0, 0.52);
  box-shadow: 2px 0px 23px -7px rgba(0, 0, 0, 0.52);
}
.container-modal .flex .modal .imagen {
  width: 50%;
  height: auto;
}
.container-modal .flex .modal .imagen img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container-modal .flex .modal .modal-body {
  width: 50%;
  height: auto;
}
.container-modal .flex .modal .modal-body .header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-modal .flex .modal .modal-body .header .iconos {
  width: 100%;
  display: flex;
  padding: 0.5em;
}
.container-modal .flex .modal .modal-body .header .iconos div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container-modal .flex .modal .modal-body .header .iconos div img {
  width: 20px;
}
.container-modal .flex .modal .modal-body .header .iconos div:hover {
  background: #EFEFEF;
  cursor: pointer;
}
.container-modal .flex .modal .modal-body .header button {
  background: #E60023;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: none;
  margin: 1em;
  font-weight: 700;
}
.container-modal .flex .modal .modal-body .header button:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
  margin-top: 55px;
  padding: 0.5em;
}

/*# sourceMappingURL=styles.css.map */
